<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity Test Suite - POC" >
    <listeners><listener class-name="com.daraz.selenium.listeners.TestListener"/></listeners>
    <test verbose="2" preserve-order="true" name="D:/DIS-automation/daraz" >
        <classes>
            <class name="com.daraz.selenium.tests.SignUpTest">
                <methods>
                    <include name="verifySignUpPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>